*{ 
	font-family: 'Bebas Neue Regular'; 
}

a{
	text-decoration: none;
}

html, body{ 
	width: 100%;
	overflow-x: hidden;
}

sup, small{
	color: #34316e !important; 
}

@font-face {
font-family: 'Bebas Neue Regular';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue Regular'), url('../bower_components/fonts/BebasNeue Regular.woff') format('woff');
}

@font-face {
font-family: 'Gotham Medium Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Medium Regular'), url('../bower_components/fonts/GothamMedium Regular.woff') format('woff');
}

@font-face {
font-family: 'Gotham Book Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Book Regular'), url('../bower_components/fonts/GothamBook Regular.woff') format('woff');
}


/* ----------------------------------------------------------- Menu ----------------------------------------------------------- */
svg.brv { 
	width: 100%;
	position: absolute; 
	bottom: -1px;
	left: 0px;
}

.curva-2 {
	position: absolute;
	width: 100%;
	height: 60px;
	top: -60px;
	left: 0px;
	right: 0px;
}
svg.brv-2 {
    width: 100%;
    position: absolute;
    left: 0px;
    opacity: 0.5;
    bottom: 0px;
}

.container-fluid.title-page {
    position: relative;
}

.menu{
	width: 220px;
	height: 100%;
	padding: 10% 5%;
	z-index: 3;
	position: fixed;
}
	.menu ul li{
		font-size: 1.7em;
		line-height: 40px;
		text-decoration: none;
		color: #34316e;
		width: auto;
	}

	.menu li{
		box-shadow: 3px 0 #34316e inset;
		padding-left: 10px;
		margin-top: 10px;
		transition: all .5s;
		display: block;
	}

	.menu li:hover{
		transition: all .5s;
		box-shadow: 200px 0px #34316e inset;
		color: #fff;
	}

	.menu li a{
		text-decoration: none;
		color: inherit;
	}

	.btn-menu{
		position: absolute;
		z-index: 3;
		margin: 20px;
		background-color: rgba(0,0,0,0.0);
		border: none;
		font-size: 2em;
		cursor: pointer;
		transition: 0.5s;
		color: #34316e;
	}
	
	.logo-iso-menu{
		display: none;
	}

	.logo-iso-menu img{
		width: 180px;
		padding: 0px 40px;
	}
	.fixed{
		position: fixed !important;
		background-color: rgba(255,255,255,0.96);
		height: 120px !important;
		padding: 10px 0px !important;
	}

	.text-logo-big2-1{
		font-size: 85px;
		height: 75px;
	}

	.text-logo-big2-2{
		font-size: 48px;
	}


/* -----------------------------------------------------------  Transition menu ----------------------------------------------------------- */

.menu{
	transition: 0.5s;
	transform: translateX(-220px);
}

.anchor-point, main{
	transform: translateX(0px);
	transition: 0.5s;
}

.menu-active .btn-menu {
	transform: translateX(0px);
	transition: 0.5s;
}


/* ----------------------------------------------------------- Transition final ----------------------------------------------------------- */

.menu-active .menu {
	transform: translateX(0px);
	transition: 0.5s;
}

.menu-active .btn-menu,
.menu-active .anchor-point,
.menu-active main {
	transform: translateX(220px);
	transition: 0.5s;
}

/* ----------------------------------------------------------- Cabecalho IMG/Transparência --------------------------------------------------- */
.cabecalho{
	background-image: url('../img/rio-de-janeiro.jpg');
	width: 100%;
	height: 98vh;
	background-size: cover;
	background-position: center;
	z-index: 1;
	position: relative;
	background-attachment: fixed;

}

	.pelicula{
		position: absolute;
		background-color: rgba(255, 255, 255,0.7);
		width: 100%;
		height: 100%;
	}

/* ----------------------------------------------------------- Conteúdo Cabecalho -----------------------------------------------------------  */


.logo-total{
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-header{ 
	position: relative; 
	width: 100%; 
	top: 19%; 
}
	.content-header a{
		text-decoration: none;
	}
	.logo{
		float: left;
		max-width: 35%;
	}

	.logo-text{
		max-width: 50%;
		float: right;
		margin-left: 30px;
	}

	.logo img{
		width: 120px;
		vertical-align: baseline;
	}
	
	.info-sub{
		position: relative;
		top: 27%;
		width: 100%;
	}
	.text-logo-big{
		font-size: 45px;
		color: #34316e;
	}

	.saiba{ 
		position: absolute;
		width: 100%; 
		bottom: 30px; 
		z-index: 3;

	}

	.text-logo-normal{
		font-size: 19px;
		text-align: justify;
		padding-top: 10px;
		color: #34316e; 
	}

	.text-logo-normal-2{
		text-align: justify;
		font-size: 26.2px;
		color: #34316e;
		line-height: 35px;
		padding: 5px 0 5px 0;;
	}

	.linha:before, .linha:after{
		content: " ";
		width: 100%;;
		height: 2px;
		background-color: #34316E;
		position: relative;
		bottom: 4px;
	}

	.text-logo-normal-2 p{ 
	margin-bottom: 0px;

	}

	.saiba-mais{
		text-align: center;
		color: #34316e;
		padding: 0% 16%;
	}

	.saiba-mais{
		font-size: 2.2em;
		width: 100%;
	}

	.saiba-mais a{
		text-decoration: none;
		color: #34316e;
	}

	.saiba-mais a:hover{
		color: #a5a9cc;
	}


	.bloco-data { 
		font-size: 45px; 
		color: #414077; 
		text-align: center;
	}

	.buttons{
		top: 35px;
		position: relative;
	}
	
	.button-access{
		text-align: center;
	}
	
	.button-access a{
		text-decoration: none;
	}
	.button-access p{
		border: 2px solid #34316e;
		margin-bottom: 0px;
		padding: 3% 3%;
		font-size: 30px;
		color: #34316e;
	}

	.button-access p:hover{
		background-color: #34316e;
		color: #fff;
	}


	/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */
	.text-topics{ 
		padding: 25px 30px;
	}
		.topic-title{
			text-align: center;
			font-size: 28px;
			color: #2b2568;
		}
			.topics p{ 
				font-family: 'Gotham Book Regular';
				font-size: 17px;
				color: #666666; 
				font-weight: 300; 
				line-height: 30px; 
				margin-bottom: 30px;
			}

				.topics i{
					color: #2b2568;
				}
					.topics h3{
						text-align: left;
						font-size: 45px;
						margin-bottom: 30px;
						color: #312e6f;
					}

	.doctor{
		padding-top: 25px;
	}
		.doctor p{
		font-family: 'Gotham Medium Regular';
		text-align: center;
		font-size: 10px;
		font-style: italic;
		color: #666666;
		padding-top: 13px;
	}

		.img-doc{
			height: 210px;
			background-image: url('../img/adagmar.png');
			border-radius: 30px;
			background-position: 50% 16%;
			background-repeat: no-repeat;
			background-size: cover;
			width: 40%;
			display: block;
			margin: 0px auto;
		}

	.total-content{
		padding-top: 30px;
	}

	.video{
		width: 100%;
		height: 570px;
		padding: 2% 2%;
		text-align: center;
		position: relative;
	}

	.video iframe{
		width: 100%;
		height: 85%;
		margin:0px auto;
		display: block;
	}

	.video p{
		font-size: 51px;
		color: #34316e;
	}

/* -----------------------------------------------------------  Footer -----------------------------------------------------------  */

footer{
	position: relative;
	width: 100%;
	height: 150px;
	background-image: url('../img/rio-de-janeiro.jpg');
	background-size: cover;
	background-position: center;
}
	.total-footer{
		position: relative;
		padding-top: 42px;
	}	

		.ft-mobile{
			display: none;
		}

		.ft-normal{
			display: block;
		}

		.ft-normal img{
			width: 130px;
		}


		.ft-normal .credit-campana img { 
			display: block; 
			margin: 0px auto;

		}

		.txt-footer p{
			position: relative;
			font-size: 24px;
			margin-bottom: 0px;
			color: #34316e;
			z-index: 2;
			text-align: center;
		}

		.credit-campana img{
			display: block;
			position: relative;
			z-index: 2;
			margin-top: 10px;
			width: 120px;
		}

/* -----------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------  Media Queries -----------------------------------------------------------  
----------------------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------  Extra Small devices ----------------------------------------------------------- */
@media screen and (max-width: 768px) {

	.saiba{
		display: none;
	}

	.text-logo-normal{
		display: none;
	}

	.text-logo-big{ 
		font-size: 73px; 
		text-align: center;
	}

	.text-logo-normal{
		font-size: 30.8px;
		text-align: justify;
	}

	.logo{ 
		max-width: 100%; 
		text-align: center; 
		width: 100%;

	}

	.logo-text{ 
		max-width: 100%; 
		text-align: center; 
		width: 100%;

	}

	.info-sub{ top: 15%;

	}

	/* ----------------------------------------------------------- Cabecalho IMG/Transparência --------------------------------------------------- */

	.pelicula{
		position: absolute;
		background-color: rgba(255, 255, 255,0.7);
		width: 100%;
		height: 100%;
	}

	/* ----------------------------------------------------------- Conteúdo Cabecalho -----------------------------------------------------------  */
	.content-header{ 
		top: 8%;
	}
	
	.logo-total{
		margin-bottom: 0px;
	}

		.logo img{
			width: 260px;
			vertical-align: baseline;
		}

		.mobile{
			font-size: 20.99px;
			text-align: center;
			line-height: 31px;
			color: #34316e;
			margin-top: 15px;
		}
	
		.date-group{
			margin-bottom: 19px;
		}

	/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */
	.text-topics{ 
		padding: 25px 30px;
	}

	.total-content{
		padding-top: 30px;
	}

	.sbpc img{ 
		width: 292px; 
		position: relative;

	}

	.text-logo-big2{ 
		font-size: 60px !important;
	}

	.center a{ 
		top: 50px !important;
	}

	.title-page{
		margin-top: 100px !important;
	}


	.button-access{; 
	margin-bottom: 30px;
		
	}


}

@media screen and (max-width:766px) {
	.bloco-logo{ 
		width: 700px;

	}

	.cabecalho{
		height: 1145px !important;
	}

	.logo-total{
		display: block;
	}

	.text-logo-normal-2{ 
		font-size: 27.9px; 
		line-height: 30px;

	}

	.linha:before, .linha:after{ 
		width: 70%; 
		left: 15%;
	}

	.bloco-data{ 
		font-size: 35px;
	}

}

@media screen and (max-width: 692px) {
	.text-logo-big{ 
		font-size: 40px !important;
	}

	.bloco-logo{ 
	width: auto;

	}

	.logo img{ 
		width: 220px;;

	}

	.cabecalho{
		height: 980px !important;
	}
	

	.logo{ 
		margin-bottom: 10px !important;

	}

	.info-sub{
		top: 11%;
	}
	

	.mobile{
		font-size: 16.9px !important;
	}

	.logo{
		margin: 0px;
		width:100%;
		height: 220px;;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}

	.sbpc{
		margin: 0px;
		width:100%;
		height: 130px;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		position: relative;
	}

	.text-logo-normal-2{ 
		font-size: 20.5px; 
		text-align: center;

	}


}



@media screen and (max-width: 546px) {
	.ft-mobile{
		display: block;
	}

	.ft-normal{
		display: none;
	}


	.credit-campana{
		font-size: 20px;
		color: #34316e;
		text-align: center;
	}

	.credit-campana img{
		display: inline;
		margin-top: 0px;
		margin-left: 6px;
		width: 120px;
	}

	.cabecalho{ 
	height: 1050px !important;

	}
}

@media screen and (max-width: 494px) {
	.txt-footer p{ 
		font-size: 20px;

	}
	.cabecalho{ height: 970px !important;
	}

	.video p{
		font-size:40px; 
	}

	.location, .location a{
		font-size: 19px !important;
	}

	.saiba-mais{
		padding-top: 59px;

	}

	.img-doc{
		border-radius: 15px
	}


	.mobile{
		font-size: 17px !important;
		line-height: 25px;
	}


	.logo-iso-menu{
		display: none;
	}

	.sbpc {
		margin-top: 40px;

	}

	.credit-campana{
		font-size: 20px;
		color: #34316e;
		text-align: center;
	}

	.credit-campana img{
		display: inline;
		margin-top: 0px;
		margin-left: 6px;
		width: 110px;
	}

	.text-logo-big{
		font-size: 30px !important;
	}

	.text-logo-big2{
		font-size: 45px !important;
	}

	.text-logo-normal-2{ 
		font-size: 16px; 
		line-height: 20px;
	}
	
	.bloco-data{ 
		font-size: 25px;
	}

}

/* -----------------------------------------------------------  Small devices ----------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
	/* ----------------------------------------------------------- Cabecalho -----------------------------------------------------------  */
	

	.text-logo-normal-2{ 
		font-size: 20px; 
		line-height: 27px;
	}

	.logo-text{ 
		margin-left: 55px;

	}

	.bloco-data{ 
		font-size: 30px;
	}

	.text-logo-big1-1{
		font-size: 106px;
		height: 95px;
		margin-top: -10px;
	}

	.text-logo-big1-2{
		font-size: 60px;
	}
		
	.saiba{
		display: none;
	}

	.text-logo-normal{
		display: none;
	}

	.text-logo-big{ 
		font-size: 98px; 
		text-align: justify;
	}

	.text-logo-normal{
		font-size: 30.8px;
		text-align: justify;
	}

	.info-sub{
		top: 12%; 
	}

	.logo{ max-width: 30%;

	}

	.logo-text{ 
		max-width: 45%;

	}

	.logo-iso-menu{
		display: none !important;
	}


	/* ----------------------------------------------------------- Conteúdo Cabecalho -----------------------------------------------------------  */
	.content-header{
	 top: 10%;
	}
	.info{
		margin-top: 55px;
	}	
	.logo-total{
		margin-bottom: 0px;
	}

		.logo img{
			width: 250px;
			vertical-align: baseline;
		}

		.mobile{
			font-size: 39.9px;
			text-align: justify;
			line-height: 45px;
			color: #34316e;
			margin-top: 45px;
		}

		.date-group{
			margin-bottom: 19px;
		}
	/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */
		.text-topics{ 
			padding: 25px 30px;
		}
			.topic-title{
				text-align: center;
				font-size: 28px;
				color: #2b2568;
			}
			.topics p{ 
				font-family: 'Gotham Book Regular';
				font-size: 18px;
				color: #666666; 
				font-weight: 100; 
				margin-bottom: 30px;
			}

				.topics i{
					color: #2b2568;
				}


		.total-content{
			padding-top: 30px;
		}

		.sbpc img{ 
			width: 330px; 
			padding: 15px;

		}
	
}



/* -----------------------------------------------------------  Medium devices ----------------------------------------------------------- */


@media screen and (min-width: 992px) {
	.mobile{
		display: none;
	}

	.text-logo-normal{
		display: block;
	}

	.logo{ 
		max-width: 41%;
	}

	.text-logo-big1-1{
		font-size: 153px;
		height: 135px;
		margin-top: -10px;
	}

	.text-logo-big1-2{
		font-size: 86px;
	}

	.text-logo-big2-1{
		font-size: 103px;
		height: 90px;
	}

	.text-logo-big2-2{
		font-size: 58px;
	}

	/* -----------------------------------------------------------  Menu ----------------------------------------------------------- */	

	.btn-menu{
		display: none;
	}

	.menu{
		display: flex;
		justify-content: center;
		padding: 20px 0px;
		width: 100%;
		transform: translateX(0px);
		position: absolute;
		transition: none;
		height: 70px;
	}

	.menu li:hover{
		box-shadow: 0px 0px;
		color: #a5a9cc;
		transition: none;
	}

	.menu ul li{
		display: inline-block;
		margin-top: 0px;
		box-shadow: 0px 0px;
		transition: none;
		padding: 0px 10px;
		height: 35px;
	}

	.menu ul li:after{
		left: 0;
		width: 0;
		height: 5px;
		background-color: #a5a9cc;
		content: "";
		transition: width 0.2s;
		display: block;
	}

	.menu ul li:hover:after{
		width: 100%;
	}

	.cabecalho, main{
	transform: translateX(0px);
	transition: none;
	}

	.menu-active .btn-menu,
	.menu-active .anchor-point,
	.menu-active main {
	transform: translateX(0px);
	transition: none;
	}

	/* ----------------------------------------------------------- Cabecalho -----------------------------------------------------------  */
	
	.text-logo-big{ 
		font-size: 112px; 
		text-align: justify;
	}

	.text-logo-normal{
		font-size: 30.8px;
		text-align: justify;
	}

	/* ----------------------------------------------------------- Conteúdo Cabecalho -----------------------------------------------------------  */

	.content-header{
	}

		.logo img{
			width: 300px;
			vertical-align: baseline;
		}

		.text-logo-big{
			font-size: 117px;
			color: #34316e;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		.text-logo-normal{
			font-size: 26.9px;
			text-align: justify;
			color: #34316e;
			padding-top: 0px; 
		}

	
		/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */

		.text-topics{
			float: right;
		}
		.doctor{
			float: left;
			padding-top: 30px;
		}
			.img-doc{
				height: 337px;
			}
			.topics p{
				font-size: 18px;
				line-height: 35px;
				font-family: 'Gotham Book Regular';
				margin-bottom: 30px;
			}

		.parceiros{
			float: right;
		}
		.sbpc{
			float: left;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 239px;
		}
			.sbpc img{
				width: 100%;
			}
				.logo img{
					width: 100%;
				}
	
}

/* -----------------------------------------------------------  Large devices ----------------------------------------------------------- */

@media screen and (min-width: 1200px) {
	.mobile{
		display: none;
	}


	.text-logo-normal{
		display: block;
	}


	.img-doc{
		width: 100%;
		height: 210px;
		background-image: url('../img/adagmar.png');
		background-size: cover;
		background-position: center;
		border-radius: 30px;
	}

	.bloco-logo{
		width: 950px;
	}

	.text-logo-big1-1{
		font-size: 150px;
		height: 130px;
		margin-top: -10px;
	}

	.text-logo-big1-2{
		font-size: 84.8px;
	}

	.text-logo-big2-1{
		font-size: 121px;
		height: 110px;
	}

	.text-logo-big2-2{
		font-size: 68px;
	}
	/* -----------------------------------------------------------  Menu ----------------------------------------------------------- */
	.btn-menu{
		display: none;
	}

	.menu{
		display: flex;
		justify-content: center;
		padding: 25px 0px;
		width: 100%;
		transform: translateX(0px);
		position: absolute;
		transition: none;
		height: 70px;
	}

	.menu li:hover{
		box-shadow: 0px 0px;
		color: #a5a9cc;
		transition: none;
	}

	.menu ul li{
		display: inline-block;
		margin-top: 0px;
		box-shadow: 0px 0px;
		transition: none;
		padding: 0px 10px;
		height: 35px;
	}

	.menu ul li:after{
		left: 0;
		width: 0;
		height: 5px;
		background-color: #a5a9cc;
		content: "";
		transition: width 0.2s;
		display: block;
	}

	.menu ul li:hover:after{
		width: 100%;
	}

	.cabecalho, main{
	transform: translateX(0px);
	transition: none;
	}

	.menu-active .btn-menu,
	.menu-active .cabecalho,
	.menu-active main {
	transform: translateX(0px);
	transition: none;
	}

	/* ----------------------------------------------------------- Cabecalho -----------------------------------------------------------  */
	
	.text-logo-big{ 
		font-size: 115px;
		margin-top: 0px;
		margin-bottom: 0px; 
		text-align: justify;
	}

	.text-logo-normal{
		font-size: 26.3px;
		text-align: justify;
		padding-top: 0px;
	}

	/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */

	.text-topics{
		float: right;
	}
	.doctor{
		float: left;
	}
		.img-doc{
			height: 337px;
		}
		.topics p{
			font-size: 18px;
			line-height: 35px;
			font-family: 'Gotham Book Regular';
		}

	.parceiros{
		float: right;
	}
	.sbpc{
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 260px;
	}
		.sbpc img{
			width: 70%;
		}
			.logo img{
				width: 100%;
			}

}

@media screen and (max-height: 990px) and (min-width: 992px) {
	.logo img{
		width: 300px;
		vertical-align: baseline;
	}

	.text-logo-big{
		font-size: 86px;
		color: #34316e;
	}

	.text-logo-normal{
		font-size: 19.4px;
		text-align: justify;
		padding-top: 10px;
		color: #34316e; 
	}

	.logo-total{ 
		display: flex; 
		justify-content: center;
	}

	.logo-text{
		width: 37%;
	}

	.content-header{
		top: 13%; 
	}

	.info-sub{
		top:20%;
	}

	.cabecalho{
		height: 680px !important; 
	}

	.text-logo-big1-1{
		font-size: 110px !important;
		margin-top: -10px;
		height: 100px;
	}

	.text-logo-big1-2{
		font-size: 62px;
	}
	
	.text-logo-normal-2{ 
		font-size: 21px; 
		line-height: 29px;

	}

	.bloco-data{ 
		font-size: 35px;

	}

	.buttons{
		top: 0px;;
	}

}



@media screen and (max-width: 320px) {

	.mobile { 
		font-size: 14px !important; 
		line-height: 19px;
	}


}