*{ 
	font-family: 'Bebas Neue Regular'; 
}

a{
	text-decoration: none;
}

html, body{ 
	width: 100%;
	overflow-x: hidden;
}

sup, small{
	color: #34316e !important; 
}

@font-face {
font-family: 'Bebas Neue Regular';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue Regular'), url('../bower_components/fonts/BebasNeue Regular.woff') format('woff');
}

@font-face {
font-family: 'Gotham Medium Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Medium Regular'), url('../bower_components/fonts/GothamMedium Regular.woff') format('woff');
}

@font-face {
font-family: 'Gotham Book Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Book Regular'), url('../bower_components/fonts/GothamBook Regular.woff') format('woff');
}

/* ----------------------------------------------------------- Menu ----------------------------------------------------------- */
svg.brv { 
	width: 100%;
	position: absolute; 
	bottom: -1px;
	left: 0px;
}

.curva-2 {
	position: absolute;
	width: 100%;
	height: 60px;
	top: -60px;
	left: 0px;
	right: 0px;
}
svg.brv-2 {
    width: 100%;
    position: absolute;
    left: 0px;
    opacity: 0.5;
    bottom: 0px;
}

.container-fluid.title-page {
    position: relative;
}

.menu{
	width: 220px;
	height: 100%;
	padding: 10% 5%;
	z-index: 3;
	position: fixed;
}
	.menu ul li{
		font-size: 1.7em;
		line-height: 40px;
		text-decoration: none;
		color: #34316e;
		width: auto;
	}

	.menu li{
		box-shadow: 3px 0 #34316e inset;
		padding-left: 10px;
		margin-top: 10px;
		transition: all .5s;
		display: block;
	}

	.menu li:hover{
		transition: all .5s;
		box-shadow: 200px 0px #34316e inset;
		color: #fff;
	}

	.menu li a{
		text-decoration: none;
		color: inherit;
	}

	.btn-menu{
		position: absolute;
		z-index: 3;
		margin: 20px;
		background-color: rgba(0,0,0,0.0);
		border: none;
		font-size: 2em;
		cursor: pointer;
		transition: 0.5s;
		color: #34316e;
	}
	
	.logo-iso-menu{
		display: none;
	}

	.logo-iso-menu img{
		width: 180px;
		padding: 0px 40px;
	}
	.fixed{
		position: fixed !important;
		background-color: rgba(255,255,255,0.96);
		height: 120px !important;
		padding: 10px 0px !important;
	}

	.text-logo-big2-1{
		font-size: 85px;
		height: 75px;
	}

	.text-logo-big2-2{
		font-size: 48px;
	}


/* -----------------------------------------------------------  Transition menu ----------------------------------------------------------- */

.menu{
	transition: 0.5s;
	transform: translateX(-220px);
}

.anchor-point, main{
	transform: translateX(0px);
	transition: 0.5s;
}

.menu-active .btn-menu {
	transform: translateX(0px);
	transition: 0.5s;
}


/* ----------------------------------------------------------- Transition final ----------------------------------------------------------- */

.menu-active .menu {
	transform: translateX(0px);
	transition: 0.5s;
}

.menu-active .btn-menu,
.menu-active .anchor-point,
.menu-active main {
	transform: translateX(220px);
	transition: 0.5s;
}

/* ----------------------------------------------------------- Cabecalho IMG/Transparência --------------------------------------------------- */
.cabecalho{
	background-image: url('../img/rio-de-janeiro.jpg');
	width: 100%;
	height: 98vh;
	background-size: cover;
	background-position: center;
	z-index: 1;
	position: relative;
	background-attachment: fixed;

}

	.pelicula{
		position: absolute;
		background-color: rgba(255, 255, 255,0.7);
		width: 100%;
		height: 100%;
	}

/* ----------------------------------------------------------- Conteúdo Cabecalho -----------------------------------------------------------  */

.content-header{ 
	position: relative; 
	width: 100%; 
	top: 21%; 
}	
	.content-header a{
		text-decoration: none;
	}
	.logo{
		float: left;
		max-width: 35%;
	}

	.logo-text{
		max-width: 60%;
		float: right;
	}

	.logo img{
		width: 120px;
		vertical-align: baseline;
	}
	
	.info-sub{
		position: relative;
		top: 30%;
		width: 100%;
	}
	.text-logo-big{
		font-size: 45px;
		color: #34316e;
	}

	.saiba{ 
		position: absolute;
		width: 100%; 
		bottom: 30px; 
		z-index: 3;

	}

	.text-logo-normal{
		font-size: 19px;
		text-align: justify;
		padding-top: 10px;
		color: #34316e; 
	}

	.bloco-data, .bloco-local, .btn-inscreva-se, .saiba-mais{
		text-align: center;
		color: #34316e;
		padding: 0% 16%;
	}

	.bloco-data p{
		font-size: 1.8em;
		margin: 0 0 -20px;
	}

	.bloco-data h3{
		display: block;
		font-size: 2.3em;
	}

	.bloco-local h3{
		display: block;
		font-size: 2.3em;
	}

	.btn-inscreva-se h2{
		display: block;
		font-size: 2.3em;
	}

	.saiba-mais{
		font-size: 2.2em;
		width: 100%;
	}

	.saiba-mais a{
		text-decoration: none;
		color: #34316e;
	}

	.saiba-mais a:hover{
		color: #a5a9cc;
	}


	/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */
	.text-topics{ 
		padding: 25px 30px;
	}
		.topic-title{
			text-align: center;
			font-size: 28px;
			color: #2b2568;
		}
			.topics p{ 
				font-family: 'Gotham Book Regular';
				font-size: 17px;
				color: #666666; 
				font-weight: 300; 
				line-height: 30px; 
				margin-bottom: 30px;
			}

				.topics i{
					color: #2b2568;
				}
					.topics h3{
						text-align: left;
						font-size: 45px;
						margin-bottom: 30px;
						color: #312e6f;
					}

	.doctor{
		padding-top: 25px;
	}
		.doctor p{
		font-family: 'Gotham Medium Regular';
		text-align: center;
		font-size: 10px;
		font-style: italic;
		color: #666666;
		padding-top: 13px;
	}

		.img-doc{
			height: 210px;
			background-image: url('../img/adagmar.png');
			border-radius: 30px;
			background-position: 50% 16%;
			background-repeat: no-repeat;
			background-size: cover;
			width: 40%;
			display: block;
			margin: 0px auto;
		}

	.total-content{
		padding-top: 30px;
	}

	.video{
		width: 100%;
		height: 570px;
		padding: 2% 2%;
		text-align: center;
		position: relative;
	}

	.video iframe{
		width: 100%;
		height: 85%;
		margin:0px auto;
		display: block;
	}

	.video p{
		font-size: 51px;
		color: #34316e;
	}

/* -----------------------------------------------------------  Footer -----------------------------------------------------------  */

footer{
	position: relative;
	width: 100%;
	height: 150px;
	background-image: url('../img/rio-de-janeiro.jpg');
	background-size: cover;
	background-position: center;
}
	.total-footer{
		position: relative;
		padding-top: 42px;
	}	

		.ft-mobile{
			display: none;
		}

		.ft-normal{
			display: block;
		}


		.ft-normal .credit-campana img { 
			display: block; 
			margin: 0px auto;

		}

		.txt-footer p{
			position: relative;
			font-size: 24px;
			margin-bottom: 0px;
			color: #34316e;
			z-index: 2;
			text-align: center;
		}

		.credit-campana img{
			display: block;
			position: relative;
			z-index: 2;
			margin-top: 10px;
			width: 120px;
		}

/* -----------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------  Media Queries -----------------------------------------------------------  
----------------------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------  Extra Small devices ----------------------------------------------------------- */
@media screen and (max-width: 768px) {

	.saiba{
		display: none;
	}

	.text-logo-normal{
		display: none;
	}

	.text-logo-big{ 
		font-size: 73px; 
		text-align: center;
	}

	.text-logo-normal{
		font-size: 30.8px;
		text-align: justify;
	}

	.logo{ 
		max-width: 100%; 
		text-align: center; 
		width: 100%;

	}

	.logo-text{ 
		max-width: 100%; 
		text-align: center; 
		width: 100%;

	}

	.info-sub{ top: 15%;

	}

	/* ----------------------------------------------------------- Cabecalho IMG/Transparência --------------------------------------------------- */

	.pelicula{
		position: absolute;
		background-color: rgba(255, 255, 255,0.7);
		width: 100%;
		height: 100%;
	}

	/* ----------------------------------------------------------- Conteúdo Cabecalho -----------------------------------------------------------  */
	.content-header{ 
		top: 8%;
	}
	.info{
	}
	
	.logo-total{
		margin-bottom: 0px;
	}

		.logo img{
			width: 260px;
			vertical-align: baseline;
		}

		.mobile{
			font-size: 35.99px;
			text-align: center;
			line-height: 45px;
			color: #34316e;
			margin-top: 15px;
		}
	
 		.bloco-local, .btn-inscreva-se{
			padding: 1% 20%;
		}

		.date-group{
			margin-bottom: 19px;
		}
		
		.bloco-data{
			padding: 0% 20%;
		}

		.bloco-data h3{
			margin-bottom: 0px;
		}

		.bloco-local h3{ 
			margin-top: 23px;
		}

		.btn-inscreva-se h2{
			margin-top: 12px;
		}

		.bloco-data h3:after{
			height: 3px;
			background-color: #7d82b1;
			content: "";
			width: 100%;
			display: block;
			position: relative;
			left: 0px;
			top: 15px;
		}

		.bloco-local h3:after{
			height: 3px;
			background-color: #7d82b1;
			content: "";
			width: 100%;
			display: block;
			position: relative;
			margin-left: 0px;
			left: 0px;
			top: 15px;
		}
		.btn-inscreva-se h2:after{
			height: 3px;
			background-color: #7d82b1;
			content: "";
			width: 100%;
			display: block;
			position: relative;
			margin-left: 0px;
			left: 0px;
			top: 15px;
		}

	/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */
	.text-topics{ 
		padding: 25px 30px;
	}

	.total-content{
		padding-top: 30px;
	}

	.sbpc img{ 
		width: 292px; 
		position: relative;

	}

	.text-logo-big2{ 
		font-size: 60px !important;
	}

	.center a{ 
		top: 50px !important;
	}

	.title-page{
		margin-top: 100px !important;
	}

}

@media screen and (max-width:766px) {
	.bloco-logo{ 
		width: 700px;

	}

	.cabecalho{
		height: 1000px !important;
	}
}

@media screen and (max-width: 692px) {
	.text-logo-big{ 
		font-size: 40px !important;
	}

	.bloco-logo{ 
	width: auto;

	}

	.logo img{ 
		width: 220px;;

	}

	.cabecalho{
		height: 830px !important;
	}
	

	.logo{ 
		margin-bottom: 10px !important;

	}

	.info-sub{
		top: 11%;
	}
	


	.mobile{
		font-size: 25px !important;

	}
	.logo{
		margin: 0px;
		width:100%;
		height: 220px;;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}

	.sbpc{
		margin: 0px;
		width:100%;
		height: 130px;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		position: relative;
	}
}

@media screen and (max-width: 494px) {
	.txt-footer p{ 
		font-size: 20px;

	}
	.cabecalho{ height: 780px !important;
	}

	.video p{
		font-size:40px; 
	}

	.location, .location a{
		font-size: 19px !important;
	}

	.ft-mobile{
		display: block;
	}

	.ft-normal{
		display: none;
	}

	.credit-campana{
		font-size: 20px;
		color: #34316e;
		text-align: center;
	}

	.credit-campana img{
		display: inline;
		margin-top: 0px;
		margin-left: 6px;
		width: 120px;
	}

	.bloco-data p{ 
		font-size: 1.5em;

	}

	.bloco-data h3{ 
		font-size: 2em;

	}

	.saiba-mais{
		padding-top: 59px;

	}

	.img-doc{
		border-radius: 15px
	}


	.mobile{
		font-size: 17px !important;
		line-height: 25px;
	}


	.logo-iso-menu{
		display: none;
	}

	.sbpc {
		margin-top: 40px;

	}

	
	.ft-mobile{
		display: block;
	}

	.ft-normal{
		display: none;
	}

	.credit-campana{
		font-size: 20px;
		color: #34316e;
		text-align: center;
	}

	.credit-campana img{
		display: inline;
		margin-top: 0px;
		margin-left: 6px;
		width: 110px;
	}

	.text-logo-big{
		font-size: 30px !important;
	}

	.text-logo-big2{
		font-size: 45px !important;
	}

}

/* -----------------------------------------------------------  Small devices ----------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
	/* ----------------------------------------------------------- Cabecalho -----------------------------------------------------------  */
	
	.text-logo-big1-1{
		font-size: 145px;
		height: 160px;
		margin-top: -10px;
	}

	.text-logo-big1-2{
		font-size: 82px;
	}
		
	.saiba{
		display: none;
	}

	.text-logo-normal{
		display: none;
	}

	.text-logo-big{ 
		font-size: 98px; 
		text-align: justify;
	}

	.text-logo-normal{
		font-size: 30.8px;
		text-align: justify;
	}

	.info-sub{
		top: 12%; 
	}

	.logo{ max-width: 30%;

	}

	.logo-text{ max-width: 65%;

	}

	.logo-iso-menu{
		display: none !important;
	}


	/* ----------------------------------------------------------- Conteúdo Cabecalho -----------------------------------------------------------  */
	.content-header{
	 top: 10%;
	}
	.info{
		margin-top: 40px;
	}	
	.logo-total{
		margin-bottom: 0px;
	}

		.logo img{
			width: 250px;
			vertical-align: baseline;
		}

		.mobile{
			font-size: 39.9px;
			text-align: justify;
			line-height: 45px;
			color: #34316e;
			margin-top: 30px;
		}
	
 		.bloco-local, .btn-inscreva-se{
			padding: 1% 20%;
		}

		.date-group{
			margin-bottom: 19px;
		}
		
		.bloco-data{
			padding: 0% 20%;
		}

		.bloco-data h3{
			margin-bottom: 0px;
		}

		.bloco-local h3{ 
			margin-top: 23px;
		}

		.btn-inscreva-se h2{
			margin-top: 12px;
		}

		.bloco-data h3:after{
			height: 3px;
			background-color: #7d82b1;
			content: "";
			width: 100%;
			display: block;
			position: relative;
			left: 0px;
			top: 15px;
		}

		.bloco-local h3:after{
			height: 3px;
			background-color: #7d82b1;
			content: "";
			width: 100%;
			display: block;
			position: relative;
			margin-left: 0px;
			left: 0px;
			top: 15px;
		}
		.btn-inscreva-se h2:after{
			height: 3px;
			background-color: #7d82b1;
			content: "";
			width: 100%;
			display: block;
			position: relative;
			margin-left: 0px;
			left: 0px;
			top: 15px;
		}

	/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */
		.text-topics{ 
			padding: 25px 30px;
		}
			.topic-title{
				text-align: center;
				font-size: 28px;
				color: #2b2568;
			}
			.topics p{ 
				font-family: 'Gotham Book Regular';
				font-size: 18px;
				color: #666666; 
				font-weight: 100; 
				margin-bottom: 30px;
			}

				.topics i{
					color: #2b2568;
				}


		.total-content{
			padding-top: 30px;
		}

		.sbpc img{ 
			width: 330px; 
			padding: 15px;

		}
	
}



/* -----------------------------------------------------------  Medium devices ----------------------------------------------------------- */


@media screen and (min-width: 992px) {
	.mobile{
		display: none;
	}

	.text-logo-normal{
		display: block;
	}

	.logo{ 
		max-width: 37%;
	}

	.text-logo-big1-1{
		font-size: 180px;
		height: 160px;
		margin-top: -10px;
	}

	.text-logo-big1-2{
		font-size: 101px;
	}

	.text-logo-big2-1{
		font-size: 115px;
		height: 110px;
	}

	.text-logo-big2-2{
		font-size: 65px;
	}

	/* -----------------------------------------------------------  Menu ----------------------------------------------------------- */	

	.btn-menu{
		display: none;
	}

	.menu{
		display: flex;
		justify-content: center;
		padding: 20px 0px;
		width: 100%;
		transform: translateX(0px);
		position: absolute;
		transition: none;
		height: 70px;
	}

	.menu li:hover{
		box-shadow: 0px 0px;
		color: #a5a9cc;
		transition: none;
	}

	.menu ul li{
		display: inline-block;
		margin-top: 0px;
		box-shadow: 0px 0px;
		transition: none;
		padding: 0px 10px;
		height: 35px;
	}

	.menu ul li:after{
		left: 0;
		width: 0;
		height: 5px;
		background-color: #a5a9cc;
		content: "";
		transition: width 0.2s;
		display: block;
	}

	.menu ul li:hover:after{
		width: 100%;
	}

	.cabecalho, main{
	transform: translateX(0px);
	transition: none;
	}

	.menu-active .btn-menu,
	.menu-active .anchor-point,
	.menu-active main {
	transform: translateX(0px);
	transition: none;
	}

	/* ----------------------------------------------------------- Cabecalho -----------------------------------------------------------  */
	
	.text-logo-big{ 
		font-size: 112px; 
		text-align: justify;
	}

	.text-logo-normal{
		font-size: 30.8px;
		text-align: justify;
	}

	.bloco-data, .bloco-local, .btn-inscreva-se{
		padding: 1% 0%;
		width: 32.99%;
	}

	.bloco-data{
		border-right: 3px solid #7d82b1;
	}
		.bloco-data h3{
			margin-bottom: 0px;
		}
			.bloco-data h3:after{
				height: 3px;
				background-color: #7d82b1;
				content: "";
				width: 71%;
				display: block;
				position: relative;
				margin-left: 0px;
				left: 45px;
				top: 10px;
			}

	.bloco-local{
		border-right: 3px solid #7d82b1;
		border-left: 3px solid #7d82b1;
		margin-right: 5px;
		margin-left: 5px;
	}
		.bloco-local h3{ margin-bottom: -10px; padding-bottom: 25px;
		}
			.bloco-local h3:after{
				height: 3px;
				background-color: #7d82b1;
				content: "";
				width: 56%;
				display: block;
				position: relative;
				margin-left: 0px;
				top: 24px;
				left: 70px;
			}

	.btn-inscreva-se{
		border-left: 3px solid #7d82b1;
	}
		.btn-inscreva-se h2{
			padding-bottom: 25px;
			margin-bottom: -10px;
		}
			.btn-inscreva-se h2:after{
					height: 3px;
					background-color: #7d82b1;
					content: "";
					width: 55%;
					display: block;
					position: relative;
					margin-left: 0px;
					left: 72px;
					top: 24px;
			}


	/* ----------------------------------------------------------- Conteúdo Cabecalho -----------------------------------------------------------  */

	.content-header{
	}

		.logo img{
			width: 300px;
			vertical-align: baseline;
		}

		.text-logo-big{
			font-size: 117px;
			color: #34316e;
		}

		.text-logo-normal{
			font-size: 32.3px;
			text-align: justify;
			padding-top: 10px;
			color: #34316e; 
		}

	
		/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */

		.text-topics{
			float: right;
		}
		.doctor{
			float: left;
			padding-top: 30px;
		}
			.img-doc{
				height: 337px;
			}
			.topics p{
				font-size: 18px;
				line-height: 35px;
				font-family: 'Gotham Book Regular';
				margin-bottom: 30px;
			}

		.parceiros{
			float: right;
		}
		.sbpc{
			float: left;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 239px;
		}
			.sbpc img{
				width: 100%;
			}
				.logo img{
					width: 100%;
				}
	
}

/* -----------------------------------------------------------  Large devices ----------------------------------------------------------- */

@media screen and (min-width: 1200px) {
	.mobile{
		display: none;
	}


	.text-logo-normal{
		display: block;
	}


	.img-doc{
		width: 100%;
		height: 210px;
		background-image: url('../img/adagmar.png');
		background-size: cover;
		background-position: center;
		border-radius: 30px;
	}

	.bloco-logo{
		width: 950px;
	}

	.text-logo-big1-1{
		font-size: 180px;
		height: 160px;
		margin-top: -10px;
	}

	.text-logo-big1-2{
		font-size: 101px;
	}

	.text-logo-big2-1{
		font-size: 147px;
		height: 140px;
	}

	.text-logo-big2-2{
		font-size: 82px;
	}
	/* -----------------------------------------------------------  Menu ----------------------------------------------------------- */
	.btn-menu{
		display: none;
	}

	.menu{
		display: flex;
		justify-content: center;
		padding: 25px 0px;
		width: 100%;
		transform: translateX(0px);
		position: absolute;
		transition: none;
		height: 70px;
	}

	.menu li:hover{
		box-shadow: 0px 0px;
		color: #a5a9cc;
		transition: none;
	}

	.menu ul li{
		display: inline-block;
		margin-top: 0px;
		box-shadow: 0px 0px;
		transition: none;
		padding: 0px 10px;
		height: 35px;
	}

	.menu ul li:after{
		left: 0;
		width: 0;
		height: 5px;
		background-color: #a5a9cc;
		content: "";
		transition: width 0.2s;
		display: block;
	}

	.menu ul li:hover:after{
		width: 100%;
	}

	.cabecalho, main{
	transform: translateX(0px);
	transition: none;
	}

	.menu-active .btn-menu,
	.menu-active .cabecalho,
	.menu-active main {
	transform: translateX(0px);
	transition: none;
	}

	/* ----------------------------------------------------------- Cabecalho -----------------------------------------------------------  */
	
	.text-logo-big{ 
		font-size: 115px; 
		text-align: justify;
	}

	.text-logo-normal{
		font-size: 31.7px;
		text-align: justify;
	}

	.bloco-data, .bloco-local, .btn-inscreva-se{
		width: 33%;
		padding: 0% 0%;
	}

	.bloco-data{
		border-right: 3px solid #7d82b1;
	}
		.bloco-data h3{
			margin-bottom: -8px;
		}
			.bloco-data h3:after{
				height: 3px;
				background-color: #7d82b1;
				content: "";
				width: 59%;
				display: block;
				position: relative;
				margin-left: 0px;
				left: 79px;
				top: 0px;
			}

	.bloco-local{
		border-right: 3px solid #7d82b1;
		border-left: 3px solid #7d82b1;
		margin-right: 5px;
		margin-left: 5px;
	}
		.bloco-local h3{
			padding-bottom: 25px;
			margin-bottom: -10px;
			margin-top: 12px;
		}
			.bloco-local h3:after{
				height: 3px;
				background-color: #7d82b1;
				content: "";
				width: 45%;
				display: block;
				position: relative;
				margin-left: 0px;
				left: 107px;
				top: 15px;
			}

	.btn-inscreva-se{
		border-left: 3px solid #7d82b1;
	}
		.btn-inscreva-se h2{
			padding-bottom: 16px;
			margin-bottom: -9px;
		}
			.btn-inscreva-se h2:after{
					height: 3px;
					background-color: #7d82b1;
					content: "";
					width: 44%;
					display: block;
					position: relative;
					margin-left: 0px;
					left: 109px;
					top: 7px;
			}
	/* -----------------------------------------------------------  Conteúdo Home ----------------------------------------------------------- */

	.text-topics{
		float: right;
	}
	.doctor{
		float: left;
	}
		.img-doc{
			height: 337px;
		}
		.topics p{
			font-size: 18px;
			line-height: 35px;
			font-family: 'Gotham Book Regular';
		}

	.parceiros{
		float: right;
	}
	.sbpc{
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 260px;
	}
		.sbpc img{
			width: 70%;
		}
			.logo img{
				width: 100%;
			}

}

@media screen and (max-height: 830px) and (min-width: 992px) {
	.logo img{
		width: 300px;
		vertical-align: baseline;
	}

	.text-logo-big{
		font-size: 86px;
		color: #34316e;
	}

	.text-logo-normal{
		font-size: 23.7px;
		text-align: justify;
		padding-top: 10px;
		color: #34316e; 
	}

	.logo-total{ 
		display: flex; 
		justify-content: center;
	}

	.logo-text{
		width: 45%;
	}

	.content-header{
		top: 14%; 
	}

	.info-sub{
		top:26%;
	}

	.cabecalho{
		height: 680px !important; 
	}

	.text-logo-big1-1{
		font-size: 135px;
		height: 126px;
		margin-top: -10px;
	}

	.text-logo-big1-2{
		font-size: 76px;
	}


}



@media screen and (max-width: 320px) {

	.mobile { 
		font-size: 17px !important;
	}


}